.widget {
	&+ .widget {
		margin-top: 1.5rem;
	}
}

.widget-title {
	font-family: tgn-soft-round-comp, sans-serif;
	font-weight: 700;

	@media only screen and (max-width: $xs-max) {
		font-size: 1rem;
		letter-spacing: 0.4px;
	}
	@media only screen and (min-width: $sm-min) {
		font-size: 1.15rem;
		letter-spacing: 0.8px;
	}
}

.widget-content {
	margin-top: 1.5rem;

	@media only screen and (max-width: $xs-max) {

	}
	@media only screen and (min-width: $sm-min) {

	}
}